/* color palette from <https://github.com/vuejs/theme> */
:root {
  scroll-behavior: smooth;
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --theme-color-1: #2790C5;
  --theme-color-2: #C55C27;
  --theme-color-3: #3C708A;
  --theme-color-3b: #0c384e;
  --theme-color-3bb: #0a3144;
  --theme-color-4: #C59E27;
  --theme-color-5: #274EC5;
  --theme-color-5: #AD392D;
  --theme-color-6: #220e04;
  --theme-color-7: #04141bf0;
  --btn-color:#27566d;
  --btn-color-hover:#193f52;
}


html * {
  font-family: 'Rubik', 'Encode Sans Semi Condensed', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: var(--color-text); */
}


*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: lighter;
  /* transition: all ease-in-out 0.4s; */
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-size: 1rem;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a6a6;
  border-radius: 5px;
}