@import './base.css';

input:focus,
select:focus,
textarea:focus,
button:focus,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #dee2e6 !important;
  /* border-color: var(--theme-color-3) !important; */
  /* background-color: none; */
}

.btn-primary-theme {
  background-color: #27566d !important;
  outline: none !important;
  border: none !important;
  color: #fff !important;
}

.bg-primary-theme {
  background-color: #27566d !important;
}

.btn-primary-theme:hover {
  background-color: #193f52 !important;
}

.text-primary-theme {
  color: var(--theme-color-1);
}

/* option:hover {
  background-color: yellow !important;
} */

.bouncing {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.hover-tilt-X {
  transition: all ease-in-out 0.4s;
}


.hover-tilt-X:hover {
  transform: translateX(5px);
}

.hover-tilt-Y {
  transition: all ease-in-out 0.4s;
}


.hover-tilt-Y:hover {
  transform: translateY(-5px);
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.general-body {
  padding-bottom: 250px;
  background-color: var(--bs-light);
  background-color: var(--bs-white);
}

.cursor-pointer {
  cursor: pointer;
}


/* easy table start ######################################################### */
.easy-table-cup-league .vue3-easy-data-table__footer {
  display: none !important;
  margin: 0px !important;
}

.easy-table-cup-league .vue3-easy-data-table__main {
  min-height: auto !important;
}

.easy-table-cup-league .vue3-easy-data-table__body td {
  color: #000 !important;
  font-size: 14px !important;
  /* font-weight: bolder; */
}

.easy-table-cup-league .vue3-easy-data-table__header th {

  color: #a5a0a0 !important;
}

@media screen and (max-width: 992px) {

  .easy-table-cup-league .vue3-easy-data-table__body td,
  .easy-table-cup-league .vue3-easy-data-table__header th {
    font-size: 11px !important;
    /* font-weight: bolder; */
  }

}

.vue3-easy-data-table__body td, 
.vue3-easy-data-table__main.fixed-header th , 
.vue3-easy-data-table__footer{
  border: none !important;
  padding-block: 20px !important;
}

.vue3-easy-data-table__main{
  min-height: 450px !important;
}

.vue3-easy-data-table__main.fixed-header th {
  text-transform: uppercase;
  background-color: #f8f8fd98 !important;
}

/* easy table end ######################################################### */





.text-dim {
  color: #b3b0b0;
}


.bg-gradient {
  /* background-color: var(--bs-light); */
  background-image: linear-gradient(90deg, #fff, #fcf5e1, #fff) !important;
  /* background: url("@/assets/images/big_bg.jpg") no-repeat center/cover; */
}

.blinker {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  animation: scroll 8s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.card-header {
  padding-block: 20px;
}

.card-fixed-height {
  height: 550px;
  overflow-y: auto;
}
