@import './base.css';

input:focus,
select:focus,
textarea:focus,
button:focus,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #dee2e6 !important;
  /* border-color: var(--theme-color-3) !important; */
  /* background-color: none; */
}

.btn-primary {
  background-color: #27566d !important;
  outline: none !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: #193f52 !important;
}

.bouncing {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.hover-tilt-X {
  transition: all ease-in-out 0.4s;
}


.hover-tilt-X:hover {
  transform: translateX(5px);
}

.hover-tilt-Y {
  transition: all ease-in-out 0.4s;
}


.hover-tilt-Y:hover {
  transform: translateY(-5px);
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.general-body {
  padding-bottom: 300px;
  background-color: var(--bs-light);
}

.cursor-pointer {
  cursor: pointer;
}







/* easy table start */
.easy-table-cup-league .vue3-easy-data-table__footer {
  display: none !important;
  margin: 0px !important;
}

.easy-table-cup-league .vue3-easy-data-table__main {
  min-height: auto !important;
}

.easy-table-cup-league .vue3-easy-data-table__body td {
  color: #000 !important;
  font-size: 14px !important;
  /* font-weight: bolder; */
}

.easy-table-cup-league .vue3-easy-data-table__header th {

  color: #a5a0a0 !important;
}

@media screen and (max-width: 992px) {

  .easy-table-cup-league .vue3-easy-data-table__body td,
  .easy-table-cup-league .vue3-easy-data-table__header th {
    font-size: 11px !important;
    /* font-weight: bolder; */
  }

}

/* easy table end */

.text-dim {
  color: #b3b0b0;
}